<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="js/memviz/vendor/resources/css/ext-all.css">
    <script type="text/javascript" src="js/memviz/vendor/ext-debug.js"></script>
    <script type="text/javascript" src="js/memviz/app.js"></script>
    <title>Memviz - Online memcache visualizer</title>
  </head>
  <body>
    {% block content%}{% endblock %}
  </body>
</html>